In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/02 19:03:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/02 19:03:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [67]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet

--2025-03-02 18:44:58--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 65.9.23.94, 65.9.23.184, 65.9.23.179, ...
connected. to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|65.9.23.94|:443...
HTTP request sent, awaiting response... 200 OK
Length: 64346071 (61M) [binary/octet-stream]
Saving to: ‘yellow_tripdata_2024-10.parquet’

yellow_tripdata_202 100%[===================>]  61.36M  12.8MB/s    in 5.7s

2025-03-02 18:45:04 (10.8 MB/s) - ‘yellow_tripdata_2024-10.parquet’ saved [64346071/64346071]

In [4]:
!ls -l yellow_tripdata_2024-10.parquet

-rw-r--r--  1 sergey.tarabara  169928479  64346071 Dec 18 22:21 yellow_tripdata_2024-10.parquet

In [5]:
df = spark.read \
    .parquet('yellow_tripdata_2024-10.parquet')

In [6]:
df.schema

StructType([StructField('VendorID', IntegerType(), True), StructField('tpep_pickup_datetime', TimestampNTZType(), True), StructField('tpep_dropoff_datetime', TimestampNTZType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', LongType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('Airport_fee', DoubleType(), True)])

In [7]:
df.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-01 00:30:44|  2024-10-01 00:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|        0.0|
|       1| 2024-10-01 00:12:20|  2024-10-01 00:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|        0.0|
|       1| 2024-10-01 00:04:46|  2024-10-01 00:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       1| 2024-10-01 00:12:10|  2024-10-01 00:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|        0.0|
|       1| 2024-10-01 00:30:22|  2024-10-01 00:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2024-10-01 00:31:20|  2024-10-01 00:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|
|       1| 2024-10-01 00:42:57|  2024-10-01 00:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|        0.0|
|       1| 2024-10-01 00:59:55|  2024-10-01 01:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       1| 2024-10-01 00:00:47|  2024-10-01 00:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|        0.0|
|       1| 2024-10-01 00:17:36|  2024-10-01 00:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 10 rows

In [8]:
df = df.repartition(4)

In [9]:
df.write.parquet('yellow/24/10/')

SELECT * FROM df WHERE hvfhs_license_num =  HV0003

In [10]:
!ls -lh yellow/24/10/

total 188928
-rw-r--r--  1 sergey.tarabara  169928479     0B Feb 27 21:48 _SUCCESS
-rw-r--r--  1 sergey.tarabara  169928479    22M Feb 27 21:48 part-00000-9199d994-0b85-465b-94c3-67242135eb79-c000.snappy.parquet
-rw-r--r--  1 sergey.tarabara  169928479    22M Feb 27 21:48 part-00001-9199d994-0b85-465b-94c3-67242135eb79-c000.snappy.parquet
-rw-r--r--  1 sergey.tarabara  169928479    22M Feb 27 21:48 part-00002-9199d994-0b85-465b-94c3-67242135eb79-c000.snappy.parquet
-rw-r--r--  1 sergey.tarabara  169928479    22M Feb 27 21:48 part-00003-9199d994-0b85-465b-94c3-67242135eb79-c000.snappy.parquet

In [ ]:
#3

In [50]:
!ls

02_hw_pyspark.ipynb             yellow
taxi_zone_lookup.csv            yellow_tripdata_2024-10.parquet

In [93]:
df = spark.read \
    .parquet("yellow_tripdata_2024-10.parquet") \
.select("tpep_pickup_datetime", "tpep_dropoff_datetime", "trip_distance","PULocationID")

In [94]:
df.show(5)

+--------------------+---------------------+-------------+------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|trip_distance|PULocationID|
+--------------------+---------------------+-------------+------------+
| 2024-10-01 00:30:44|  2024-10-01 00:48:26|          3.0|         162|
| 2024-10-01 00:12:20|  2024-10-01 00:25:25|          2.2|          48|
| 2024-10-01 00:04:46|  2024-10-01 00:13:52|          2.7|         142|
| 2024-10-01 00:12:10|  2024-10-01 00:23:01|          3.1|         233|
| 2024-10-01 00:30:22|  2024-10-01 00:30:39|          0.0|         262|
+--------------------+---------------------+-------------+------------+
only showing top 5 rows

In [95]:
%config Completer.use_jedi = False
%load_ext autoreload
%autoreload 2

In [96]:
df.schema

StructType([StructField('tpep_pickup_datetime', TimestampNTZType(), True), StructField('tpep_dropoff_datetime', TimestampNTZType(), True), StructField('trip_distance', DoubleType(), True), StructField('PULocationID', IntegerType(), True)])

In [97]:
from pyspark.sql.functions import col, to_date

In [75]:
df.filter(to_date(df.tpep_pickup_datetime) == "2024-10-15").count()

128893

In [13]:
# df_filtered = df.filter((col("tpep_pickup_datetime") >= "2024-10-15") \
#                         & (col("tpep_pickup_datetime") < "2024-10-16")).count()
df_filtered = df.filter(to_date(col("tpep_pickup_datetime")) == "2024-10-15").count()

In [14]:
df_filtered

128893

In [ ]:
#4

In [98]:
from pyspark.sql.functions import max, unix_timestamp

In [99]:
df_trip = df.createOrReplaceTempView('trip_data')

In [105]:
df_longest_trip = spark.sql("""
SELECT MAX(dur_c) as max_dur_c FROM (
SELECT 
    unix_timestamp(tpep_dropoff_datetime) - unix_timestamp(tpep_pickup_datetime) as dur_c
FROM
    trips_data
)
""")

In [112]:
df_longest_trip.head(1)[0][0]/60/60

162.6177777777778

In [123]:
longest_trip = df \
    .withColumn("trip_duration",unix_timestamp(col("tpep_dropoff_datetime")) - unix_timestamp(col("tpep_pickup_datetime"))) \
    .orderBy("trip_duration", ascending= False) \
    .select("trip_duration") \
    .head(1)

In [127]:
longest_trip[0][0]/60/60

162.6177777777778

In [40]:
#6

In [44]:
from pyspark.sql import types

In [41]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-03-02 19:16:09--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 65.9.23.184, 65.9.23.94, 65.9.23.7, ...
connected. to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|65.9.23.184|:443...
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-03-02 19:16:10 (1.44 GB/s) - ‘taxi_zone_lookup.csv.1’ saved [12331/12331]

In [42]:
!head taxi_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [45]:
zone_schema = types.StructType([
    types.StructField("LocationID", types.IntegerType(), True),
    types.StructField("Borough", types.StringType(), True),
    types.StructField("Zone", types.StringType(), True),
    types.StructField("service_zone", types.StringType(), True)
])

In [46]:
df_zone = spark.read \
    .option("header", "true") \
    .schema(zone_schema) \
    .csv("taxi_zone_lookup.csv")

In [47]:
df_zone.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [51]:
df_result = df.join(df_zone, df.PULocationID == df_zone.LocationID)

In [52]:
df_result.show(5)

+--------------------+---------------------+-------------+------------+----------+---------+-------------------+------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|trip_distance|PULocationID|LocationID|  Borough|               Zone|service_zone|
+--------------------+---------------------+-------------+------------+----------+---------+-------------------+------------+
| 2024-10-01 00:30:44|  2024-10-01 00:48:26|          3.0|         162|       162|Manhattan|       Midtown East| Yellow Zone|
| 2024-10-01 00:12:20|  2024-10-01 00:25:25|          2.2|          48|        48|Manhattan|       Clinton East| Yellow Zone|
| 2024-10-01 00:04:46|  2024-10-01 00:13:52|          2.7|         142|       142|Manhattan|Lincoln Square East| Yellow Zone|
| 2024-10-01 00:12:10|  2024-10-01 00:23:01|          3.1|         233|       233|Manhattan|UN/Turtle Bay South| Yellow Zone|
| 2024-10-01 00:30:22|  2024-10-01 00:30:39|          0.0|         262|       262|Manhattan|     Yorkville East| Yellow Zone|
+--------------------+---------------------+-------------+------------+----------+---------+-------------------+------------+
only showing top 5 rows

In [55]:
df_result.createOrReplaceTempView('trips_data')

In [66]:
df_least_pu = answer = spark.sql("""
SELECT
    Zone,
    count(1) as cnt
FROM
    trips_data
GROUP BY 
    Zone
ORDER BY cnt
LIMIT 1
""")

In [73]:
df_least_pu.show()

+--------------------+---+
|                Zone|cnt|
+--------------------+---+
|Governor's Island...|  1|
+--------------------+---+